$clr_primary: #004990;
$clr_primary_dark: #002c5c;
$clr_primary_light: #3581cb;

$clr_secondary: #e31836;

$clr_cta: #0bb14a;
$clr_cta_dark: #008d00;

$clr_white: #ffffff;
$clr_off_white: #e9e9e9;

$clr_grey_light: #bebcbc;
$clr_grey_dark: #6d6d6d;

$break-sm: 768px;
$break-md: 1024px;
$break-lg: 1200px;
$break-xl: 1500px;

$family: Arial;

$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 24px;
$fz-xl: 50px;
$fz-xxl: 80px;
